*{
    margin: 0;
    padding: 0;
}
.sec1{
    width: 100%;
    min-height: 100vh;
    background: url(./images/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 200px;
    font-family: "Sacramento", cursive;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 50px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.profile img{
    width: 200px;
    height: 200px;
    border: 2px solid seagreen;
    border-radius: 50%;
}
.pro2 p{
    font-size: 1rem;
    font-family:"Montserrat", sans-serif;
    text-align: center;
    font-weight: 450;
    padding-bottom: 30px;
}
@media(max-width:700px){
    .sec1{
        width: 100%;
        min-height: 50vh;
        background: url(./images/back.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .text-box h1{
        font-size: 70px;
        font-family: "Sacramento", cursive;
    }
    .text-box p{
        margin: 8px 0 30px;
        font-size: 20px;
        color: whitesmoke;
        font-family: "Montserrat", sans-serif;
    }
    .profile img{
        width: 150px;
        height: 150px;
        border: 2px solid seagreen;
        border-radius: 50%;
    }
    .pro2 p{
        font-size: 1rem;
        font-family:"Montserrat", sans-serif;
        text-align: center;
        font-weight: 400;
        padding-bottom: 30px;
        color: black;
    }

}
/*----------sec3---sec4---------------------------------------*/